.calculator-DrugDosageCalculation {
    background: inherit;
    max-width: 800px;
    width: 100%;
}
.calculator-DrugDosageCalculation .calculator-calculation-title {
    padding: 0;
}
.calculator-DrugDosageCalculation .calculator-calculation-title-background {
    display: block;
}
@media only screen and (max-width: 529px) {
    .calculator-DrugDosageCalculation .calculator-calculation-title-background {
        padding: 0.5rem;
    }
}
@media only screen and (min-width: 530px) {
    .calculator-DrugDosageCalculation .calculator-calculation-title-background {
        padding: 0.75rem;
    }
}
.calculator-DrugDosageCalculation .calculator-calculation-title-highlight {
    padding: 0.2rem;
}
.calculator-DrugDosageCalculation .calculator-calculation-title-name {
    font-weight: 500;
}
@media only screen and (max-width: 529px) {
    .calculator-DrugDosageCalculation .calculator-calculation-dosage, .calculator-DrugDosageCalculation .calculator-calculation-info {
        padding: 0.2rem 0.5rem;
    }
}
@media only screen and (min-width: 530px) {
    .calculator-DrugDosageCalculation .calculator-calculation-dosage, .calculator-DrugDosageCalculation .calculator-calculation-info {
        padding: 1rem 1.5rem;
    }
}
.calculator-DrugDosageCalculation .calculator-calculation-dose {
    display: flex;
    flex-direction: column;
    padding-right: 0.5rem;
}
.calculator-DrugDosageCalculation .calculator-calculation-dose-info {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    margin-bottom: 0.1rem;
}
.calculator-DrugDosageCalculation .calculator-calculation-dose-info-population {
    font-style: italic;
}
.calculator-DrugDosageCalculation .calculator-calculation-dose-data ul, .calculator-DrugDosageCalculation .calculator-calculation-info ul {
    margin: 0 0 0 1rem;
}
.calculator-DrugDosageCalculation .calculator-calculation-options {
    vertical-align: top;
}
@media only screen and (max-width: 529px) {
    .calculator-DrugDosageCalculation .calculator-calculation-infoButton {
        padding: 0.5rem 0;
    }
}
@media only screen and (min-width: 530px) {
    .calculator-DrugDosageCalculation .calculator-calculation-infoButton {
        padding-top: 1rem;
    }
}
.calculation-infobox .calculator-calculation {
    margin: 0;
}
.calculation-infobox .calculator-calculation-title {
    display: none;
}
.calculation-infobox .calculator-inputGroup {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}
.calculation-infobox #calculator-input-gender {
    width: 115%;
}
.calculation-infobox .calculator-calculation-dose, .calculation-infobox .calculator-calculation-options {
    max-width: 100%;
}
.calculation-infobox .calculator-calculation-options {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    margin-bottom: 0.5rem;
}
.calculation-infobox .calculator-calculation-dose-info {
    border-bottom: 0;
    text-align: center;
}
.calculation-infobox .calculator-calculation-dosage {
    flex-direction: column-reverse;
    padding: 0.2rem 0.6rem 0.5rem 0.6rem;
}
.calculation-infobox .calculator-calculation-info {
    border-top: 0 !important;
    padding: 0.2rem 0.6rem;
}